[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = typhon:/mnt/DATA/data/yoh/1076_spacetop
	datalad-id = 2ee2bfa7-6c1b-4cf6-87e9-297e30f42517
	datalad-url = typhon:/mnt/DATA/data/yoh/1076_spacetop
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = https://github.com/templateflow/templateflow.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = https://github.com/templateflow/templateflow.git
